
@main(title = "Artister") {
	<head>
		<style>
		p {
			background-color: blue; font-size: 20px;
		}

		body {
			background-image: url("fjall.jpg");
			
		}
		</style>
	</head>
    
    <p> Nu skapar jag en konflikt </p>

	<p> artister </p>
	
	<p> roady cody</p>
	
	<img src="https://www.google.se/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0CAcQjRw&url=http%3A%2F%2Fwww.thissongslaps.com%2Ftag%2Fnews%2Fpage%2F10%2F&ei=BsY0VYeCBomuswHv74GYCg&bvm=bv.91071109,d.bGg&psig=AFQjCNEyx_G0KUxteNycqw1Mu0R6ovjDdg&ust=1429608326453859">
	
	<ul>
	<li> punkt 1</li>
	<li>punkt 2</li>
	</ul>

}


