@main(title = "Login") {
    
  <h1>Summerburst login</h1>
  
 	 <form action="demo_form.asp">
 		 Mail: <input type="text" name="mail"><br>
 		 Password: <input type="text" name="password"><br>
  		<input type="submit" value="Submit">
	</form>
   
   
    <script>
	$(document).ready(function(){
	    $("p").click(function(){
	        $(this).hide();
	    });
	});
	</script>
    
	<p>If you click on me, I will disappear.</p>
 
  <p id="demo">JavaScript can change HTML content.</p>
  
  <button type="button"
	onclick="document.getElementById('demo').innerHTML = 'Hello JavaScript!'">
	Click Me!</button>
  
  <a href='@routes.Application.artister()'>Kolla in artisterna!</a>
  
  <a href='@routes.Application.profil()'> Länk till din profil</a>
  
}