@main(title = "Login") {
    
  <h1>Summerburst login</h1>
  
 	 <form action="demo_form.asp">
 		 Username: <input type="text" name="username"><br>
 		 Password: <input type="text" name="password"><br>
  		<input type="submit" value="Submit">
	</form>
	
	<br>
	<br>
   
   <p> Har du inget konto? </p>   <a href='@routes.Application.artister()'>Klicka här!</a>
   
  
  <a href='@routes.Application.artister()'>Kolla in artisterna!</a>
  
  <a href='@routes.Application.profil()'> Länk till din profil</a>
  
}
