@(message: String)

<meta charset="utf-8">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/summers.png")">

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

  <title>Scorehunt</title>

  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
	
	<div id="conbottom" class="container" style="width: 100%;">
  <div id="bottom" class="bottom">
    <div class="col-xs-12 col-sm-12 col-md-12" >
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-signup" action="@routes.Application.addTeam()" method ="post">
        <h2 class="text-center form-signup-heading">Skapa lag!</h2>
        <input type="text" id="inputUsername" class="form-control" minlength="3" name="name" placeholder="Lagnamn" required>
        <div class="link">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Skapa!</button>
        </form>
        <form class="form-signup" action="@routes.Application.addTeamMember()" method ="post">
        <h2 class="text-center form-signup-heading">Gå med i lag!</h2>
        <input type="text" id="inputUsername" class="form-control" minlength="3" name="name" placeholder="Lagnamn" required>
        <div class="link">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Joina!</button>
        </form>
        <form class="form-signup" action="@routes.Application.randomizeTeam()" method ="post">
        <h2 class="text-center form-signup-heading">Slumpa lag!</h2>
        <div class="link">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Slumpa!</button>
        </form>
      </div>
     </div>
    </div>
  </div>
</div>
	
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

   <script src ="main.js" ></script>
    <!--<script src="@routes.Assets.at("jquerys.js")"></script>-->
  
  
