@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  	
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/summers.png")">
   
   <!-- Included Bootstrap CSS Files -->
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap-responsive.min.css")" />
  
  <!-- Includes FontAwesome -->
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/fontawesome/css/font-awesome.css")" />
  
  <!-- Included Bootstrap Customization CSS Files --> 
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-extension.css")" />
  
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/carousel-custom-01.css")" />

  <link rel="stylesheet" href="@routes.Assets.at("javascripts/touchTouch/assets/touchTouch/touchTouch.css")" />
  
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/stylesheet.css")" />
  
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	
	
  </head>
  <body>
    
    @content

  </body>
</html>
