@(message: String)

   <!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Profil</title>

  <!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap-responsive.min.css")" />
	
	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="@routes.Assets.at("sylesheets/fontawesome/css/font-awesome.css")" />	

	<!-- Included Bootstrap Customization CSS Files -->	
	<link rel="stylesheet" href="@routes.Assets.at("sylesheets/bootstrap-extension.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("sylesheets/css/carousel-custom-01.css")" />

	<!-- Included Isotope CSS  basic file -->	
	<link rel="stylesheet" href="@routes.Assets.at("sylesheets/isotope.css")" />

	<link rel="stylesheet" href="@routes.Assets.at("sylesheets/stylesheet.css")" />

</head>
<body>


	<div class="container marketing">
		<div class="row">
			<div class="span9">
				<h1>Skön snubbes profil</h1>
					<p>Du har 1500 poäng</p>
			</div>

		</div>
	</div>

		<div class="container vspace40">
		<div class="row">
			<div class="span12">
				<div id="portfolio">
					<ul id="portfolio-filter" class="nav nav-tabs">
						<li class="active"><a href="#" class="filter" data-filter=".personligt">Om mig</a></li>
						<li class=""><a href="#" class="filter" data-filter=".lag">Mitt lag</a></li>
					</ul>

					<div class="row" id="portfolio-items">
						
						<div class="span4 project" data-tags="personligt">
							<a class="thumbnail" href="@routes.Assets.at("/images/profil.jpg")" title=""><img src="@routes.Assets.at("/images/profil.jpg")" data-gallery="" title="" alt="" /></a>
						</div>		

						<div class="span4 project" data-tags="personligt">
							<p>En härlig snubbe som bara vill festa. Hoppas vi ses på Summerburst!</p>
						</div>	

						<div class="span4 project" data-tags="lag">
							<a class="thumbnail" href="@routes.Assets.at("/images/team.jpg")" title=""><img src="@routes.Assets.at("/images/team.jpg")" data-gallery="" title="" alt="" /></a>
						</div>		
					
						<div class="span4 project" data-tags="lag">
							<p>Jag är med i laget "Sökarna". Vi är grymma!</p>
						</div>	
						
						<div class="span4 project" data-tags="y">
							<p>Jag är grym</p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>
	<a class="scrolltotop" href="#"><span>up</span></a>

	<script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap/js/bootstrap.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery.isotope.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/init-isotope-portfolio.js")"></script>

	<script src="@routes.Assets.at("javascripts/holder.js")"></script>
	<script src="@routes.Assets.at("javascripts/script.js")"></script>
</body>
</html>