@(team: Team)(user: User)


	<!DOCTYPE html>
	
	<html>
  	<head>
  
  	<meta charset="utf-8">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/summers.png")">

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

  <title>Scorehunt</title>

  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />

	</head>
	<body>

<!-- Start of first page, redeem codes -->

	@Templates.Redeem()

<!-- Start of second page, hunt codes -->

	@Templates.Hunt()
	
<!-- Start of fourth page, topplistor -->
	
	@Templates.Leader()

<!-- Start of third page, team -->

<div data-role="page" id="team">
  <section id="header">
    <div class="container" align="center">
    <ul id="portfolio-filter" class="nav nav-tabs">
      <li class=""><a href="#hunt"><font size="1" color="black">Jaga kod</font><br><img src="@routes.Assets.at("/images/hunt.png")" class="thumbnail" height="30" width="30"/></a></li>
      <li class=""><a href="#redeem"><font size="1" color="black">Lös in kod</font><br><img src="@routes.Assets.at("/images/redeem.png")" class="thumbnail" height="30" width="30"/></a></li>
      <li class="active"><a href="#team"><font size="1" color="black">Ditt lag</font><br><img src="@routes.Assets.at("/images/team.png")" class="thumbnail" height="30" width="30"/></a></li>
      <li class=""><a href="#leader"><font size="1" color="black">Topplista</font><br><img src="@routes.Assets.at("/images/podium.png")" class="thumbnail" height="30" width="30"/></a></li>
    </ul>
  </div>
  </section>

    <section id="bodypage">
    <div class ="container">
      <div style="margin-top: 10px;" role="main" class="ui-content">
        <div class="col-xs-12 col-md-12" >
                <img src="@routes.Assets.at("/images/profbild.jpg")"  height="250" width="400"/>
      
            <h1>@team.name</h1>
            <p>Du heter @user.userName</p>
            
            <img src='@routes.PictureDatabase.getPictures()'/>
            
		<h1 align="center">New Photo</h1>
                    
               <form id ="newpicture" action="@routes.PictureDatabase.savePicture()" method ="post" data-ajax="false" enctype="multipart/form-data">
               <input id="picfield" name="picture" type="file" accept="image/*;capture=camera">
   							
               <button class = "my-btn"  type="submit" value="Save Picture" >Save Picture </button>
    		   </form>

	    <section id="footer">
	     <div class="container">
	            
	          <a href="#redeem"><font color="black" size="1">Information och villkor</font></a>
	     </div>
	    </section>
	
	  </div><!-- /content -->
	</div>
	</div>

  	</body>
	</html>

