@(message: String)

	<h1>Summer-Signup</h1>

	<form action="@routes.Application.addUser()" method ="post">
   	<p>
       <input type="email" name="email" maxlength="30" placeholder="Email">
   	</p>
   	<p>
       <input type="text" name="userName" placeholder="Username">
   	</p>
   	<p>
       <input type="password" name="password" minlength="6" maxlength="20" placeholder="Password">
   	</p>
   	<p>
       <input type="date" name="birthDate" maxlength="6" max="970613" min="000000" placeholder="Birthdate (YYMMDD)">
   	</p>
  	<p>
       <button type="submit">Signup</button>
   	</p>
	</form>
	
@message
