@(message: String)

  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <!-- Included Bootstrap CSS Files -->
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap-responsive.min.css")" />
  
  <!-- Includes FontAwesome -->
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/fontawesome/css/font-awesome.css")" />
  
  <!-- Included Bootstrap Customization CSS Files --> 
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-extension.css")" />
  
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/carousel-custom-01.css")" />

  <link rel="stylesheet" href="@routes.Assets.at("javascripts/touchTouch/assets/touchTouch/touchTouch.css")" />
  
  <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/stylesheet.css")" />-->
  
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <title>SBScorehunt</title>


  	<ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="form-signin-heading">Home</a></li>
      <li role="presentation"><a href="@routes.Application.profilePage()">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
	 
	 <li role="Team"><a href="@routes.Application.teamPage()">Team</a></li>  
    </ul>
    


<div id="div1" style="margin-left:500px; margin-top:400px;">

	<form method="post" action="">

		<textarea name="comments" cols="150" rows="5" style="width:400px";>Chat with you teammates...
		</textarea>
		<br>
		<input type="submit" value="Submit" />
	</form>

</div>




<!--
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

   <script src ="main.js" ></script> 

  
  @message

