@(message: String)

  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <!-- Included Bootstrap CSS Files -->
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap-responsive.min.css")" />
  
  <!-- Includes FontAwesome -->
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/fontawesome/css/font-awesome.css")" />
  
  <!-- Included Bootstrap Customization CSS Files --> 
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-extension.css")" />
  
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/carousel-custom-01.css")" />

  <link rel="stylesheet" href="@routes.Assets.at("javascripts/touchTouch/assets/touchTouch/touchTouch.css")" />
  
  <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/stylesheet.css")" />-->
  
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <title>SBScorehunt</title>


  	<ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="form-signin-heading">Home</a></li>
      <li role="presentation"><a href="@routes.Application.profilePage()">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
	 
	 <li role="Team"><a href="@routes.Application.teamPage()">Team</a></li>  
    </ul>
    
<div class="container">
  <div class="middle">
      	<form class="form-signin">
        <h2 class="form-signin-heading">Log in!</h2>
        <label for="inputEmail" class="sr-only">E-mail</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Lösenord" required>
        
        <div class="link">

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a class="forgot" href=#forgotPassword>Forgot password?</a>
        </form>
     </div>
    </div>


    </div> <!-- /container -->


    
<!--
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

   <script src ="main.js" ></script> 

  
  @message

