@(message: String)

  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <!-- Included Bootstrap CSS Files -->
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap-responsive.min.css")" />
  
  <!-- Includes FontAwesome -->
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/fontawesome/css/font-awesome.css")" />
  
  <!-- Included Bootstrap Customization CSS Files --> 
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-extension.css")" />
  
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/carousel-custom-01.css")" />

  <link rel="stylesheet" href="@routes.Assets.at("javascripts/touchTouch/assets/touchTouch/touchTouch.css")" />
  
  <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/stylesheet.css")" />-->
  
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <title>SBScorehunt</title>


  	<ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="form-signin-heading">Home</a></li>
      <li role="presentation"><a href="@routes.Application.profilePage()">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
	 
	 <li role="Team"><a href="@routes.Application.teamPage()">Team</a></li>  
    </ul>



<div class = "container" >
    <div class="baraEnMellanRad1">
      <div class="row text-bottom">
<p></p>
	  </div> 
    </div>  
</div>
<div class = "container" >
    <div class="baraEnMellanRad2">
      <div class="row">
<p></p>
	  </div> 
    </div>  
</div>



<div class = "Strul" >
    <div class="toppenbra text-center">
      <div class="row">
       <div class="col-xs-12 col-md-12" > 
       <img src="@routes.Assets.at("/images/profbild.jpg")" data-gallery="" title="" alt="" />
		</textarea>
		<h1>TeamNamE</h1>
       </div> 
      </div>  
    </div>
</div>



<!--
<div class = "container" >
    <div class="top text-center">
      <div class="row text-bottom">
       <div class="col-xs-12 col-md-12" > 
       <form method="post" action="">
       <textarea name="comments" cols="150" rows="5" style="width:300px";>Chat with you teammates...
		</textarea>
		<input type="submit"><br></br>
       </div> 
      </div>  
    </div>
</div>
-->


<div class = "container" >
    <div class="baraEnMellanRad text-center">
      <div class="row text-bottom">

	  </div> 
    </div>  
</div>


<div class = "container" style="float: left" >
	<div class="topp">
		<div class="col-xs-12 col-md-12" >
	<!-- begin htmlcommentbox.com -->
 		<div id="HCB_comment_box"><a href="@routes.Assets.at("http://www.htmlcommentbox.com")">HTML Comment Box</a> is loading comments...</div>
 		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("http://www.htmlcommentbox.com/static/skins/default/skin.css")" />
 		<script type="text/javascript" language="javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={  };} (function(){s=document.createElement("script");s.setAttribute("type","text/javascript");s.setAttribute("src", "http://www.htmlcommentbox.com/jread?page="+escape((window.hcb_user && hcb_user.PAGE)||(""+window.location)).replace("+","%2B")+"&opts=470&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
	<!-- end htmlcommentbox.com -->
		</div> 
    </div>  
</div>
<!--
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

   <script src ="main.js" ></script> 

  
  @message

