@(team: Team)
	
	<h1>Team</h1>
	
	<h3>Create Team</h3>
	<form action="@routes.TeamDatabase.addTeam()" method="post">
	Team name: <input type="text" name="name" /><br></br>
	<button>Create!</button>
	</form>
	
	<h3>Add Member</h3>
	<form action="@routes.TeamDatabase.addTeamMember()" method="post">
	Team name: <input type="text" name="name" />
	<button>Addera!</button>
	</form>
	
	<h3> Slumpa lag </h3>
	<form action="@routes.TeamDatabase.randomizeTeam()" method="post">
	<input type="submit" value="Slumpmaskin">
	</form>
	
