html {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  min-height: 100%;
  /*width: 100%;*/ 
  padding-top: 0px;
  padding-bottom: 0px;
  background: url("../images/bluebackground.jpg"); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*h1, h3, p,{
  text-align: center;
}*/

#tavlingsinfo{
  text-align: center;
  font-family: arial;
}

.form-signin, .panel {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}

.form-signup, .panel {

  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}

.uptotop{
  position: center;
}

/*.panel {
  max-width: 300px; 

}*/

.form-signin, .form-signin-heading,
.form-signin, .checkbox {
  margin-bottom: 10px;
}
.form-signin, .checkbox {
  font-weight: normal;
}

.form-signin .form-control{ /*Best��mmer hur stora f��lten blir*/
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus{
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup .form-control{ /*Best��mmer hur stora f��lten blir*/
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signup .form-control:focus{
  z-index: 2;
}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-kod input[type="text"]{
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.top {
  background: url("../images/bluebackground.jpg"); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
 /*background-size: 100% 100%;
 /*padding-top: 7em;
 padding-bottom: 6em;*/
 height: 100vh;  
 width: 100%;
 border-style: solid;
  border-color: white;
  display: table-cell;
  vertical-align: middle;
  



}

div.container {
  /*background-image: url("../images/Wallpaper4.jpg");
  background-size: 100% 100%; */
  display:table;
}

div.jointeam {
background-image: url("../images/bluebackground.jpg");
background-color: red;
width: 100%;
}

div.middle {
/*background-image: url("../images/summerburstBackground.jpg");
background-color: #887766;
background-size:cover;*/
 background-image: url("../images/yellow4.jpg");
  background-size: 100% 100%;

display: table-cell;
vertical-align: middle;
height: 100vh;
 border-style: solid;
  border-color: white;
  width: 100%;
}

.bottom {
  /*background-image: url("../images/summerburstBackground.jpg");
  background-size:cover;*/

   background-image: url("../images/bluebackground.jpg");
  background-size: 100% 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
   border-style: solid;
  border-color: white;
  width: 100%;
}

.bottom2 {
  background-image: url("../images/yellow4.jpg");
  background-size:100% 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100%;
  padding-bottom: 20px;
  border-style: solid;
  border-color: white;
}

div.panel, .transparent{
  background:rgba(255,255,255,0.4);
}

#tavlingsinformation{
  text-align: center;
}

.Toplist {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	background-image: url("../images/bluebackground.jpg");
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
	
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#footer{
    position:fixed;
    height:25px;
    /*background: url("../images/yellow4.jpg"); */
    background-color: white;
    opacity: 0.7;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
#header{
  position:center;
  top:0px;
  background-color: white;
  background: url("../images/bluebackground.jpg");
  border-bottom-style: solid;
  border-bottom-color: white;
}

#bodypage{
   background: url("../images/bluebackground.jpg"); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#twitter{
  width: 300px;
  opacity: 0.8;
}

#rubrik{
  color: #F9ED4D;
  font-size:30px;
  font-weight: bold;
}

#header-wrap {
    position: fixed;
    height: 200px;
    top: 0;
    width: 100%;
    z-index: 100;
}
#container{ 
    margin-top: 200px;
}

#button-submit {
    color: black;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #D3D3D3;

}
#codeID{
  width:290px;
  height:50px;
  background-color:white;
  color:#008080;
  font-style: cursive;
  font-family: Arial;
}

#redeem{
  background: url("../images/bluebackground.jpg");
}

/*
body{
    margin-bottom:25px;
    margin-top:400px;
  
*/
div.panel {
  border-style: solid;
  border-color: white;
}