<div data-role="page" id="hunt">
  <section id="header">
    <div class="container" style="width:290px;">
      <ul id="portfolio-filter" class="nav nav-tabs">
        <li class="active"><a href="#hunt"><font size="1" color="black">Jaga kod</font><br><img src="@routes.Assets.at("/images/hunt.png")" class="thumbnail" height="30" width="30"/></a></li>
        <li class=""><a href="#redeem"><font size="1" color="black">Lös in kod</font><br><img src="@routes.Assets.at("/images/redeem.png")" class="thumbnail" height="30" width="30"/></a></li>
        <li class=""><a href="#team"><font size="1" color="black">Ditt lag</font><br><img src="@routes.Assets.at("/images/team.png")" class="thumbnail" height="30" width="30"/></a></li>
        <li class=""><a href="#leader"><font size="1" color="black">Topplista</font><br><img src="@routes.Assets.at("/images/podium.png")" class="thumbnail" height="30" width="30"/></a></li>
      </ul>
    </div>
  </section>
  
  <section id="bodypage">
    <div class="container" style="width:290px;">
      <div style="margin-top: 10px;" role="main" class="ui-content">
        <div id="twitter" class="col-sm-12">
          <a class="twitter-timeline"  href="https://twitter.com/scorehunt" data-widget-id="591542182772924416"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
  </div>
</section>
<br>


  </div><!-- /content -->
  </div>