<div data-role="page" id="kommentar">
  	<section id="header">
    	<div class="container" style="width:290px">
      		<ul id="portfolio-filter" class="nav nav-tabs">
        	<li class=""><a href="#hunt"><font size="1" color="black">Jaga kod</font><br><img src="@routes.Assets.at("/images/hunt.png")" class="thumbnail" height="30" width="30"/></a></li>
        	<li class=""><a href="#redeem"><font size="1" color="black">Lös in kod</font><br><img src="@routes.Assets.at("/images/redeem.png")" class="thumbnail" height="30" width="30"/></a></li>
        	<li class="active"><a href="#team"><font size="1" color="black">Ditt lag</font><br><img src="@routes.Assets.at("/images/team.png")" class="thumbnail" height="30" width="30"/></a></li>
        	<li class=""><a href="#leader"><font size="1" color="black">Topplista</font><br><img src="@routes.Assets.at("/images/podium.png")" class="thumbnail" height="30" width="30"/></a></li>
      		</ul>
		</div>
	</section>

<section id="bodypage">
	    	<div class ="container" style="width:290px;">
      		<div style="margin-top: 10px;" role="main">
        
            <h2>@controllers.TeamDatabase.getTeamName()</h2>
            <p>Inloggad som NAMN</p>
            <p>Ditt lag ligger på plats PLATS</p>
            
            <a href="#popupBasic2" data-rel="popup" data-position-to="window">Teaminfo </a>

            <div data-role="popup" id="popupBasic2" class="ui-content" style=" background-size: 100% 100%; background-image: url(@routes.Assets.at("/images/yellow6.jpg"))">
              <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right"></a>
            <p>
              <h4>Teaminformation</h4>
              <b>Teamnamn:</b><br> @controllers.TeamDatabase.getTeamName()<br><br>
              <b>Ranking:</b><br> RANK<br><br>
              <b>Poäng:</b><br> POÄNG <br><br>
              <b>Medlemmar:</b><br>
              @controllers.TeamDatabase.getMember(0)<br>
            @controllers.TeamDatabase.getMember(1)<br>
            @controllers.TeamDatabase.getMember(2)<br>
            @controllers.TeamDatabase.getMember(3)<br>
            <b>Registerade koder:</b><br> @controllers.CodeDatabase.listCodes()
            </p>
          </div>
            
            
	</div>
	</div>

		<div class="container" style="width:290px;"> 
			<div  role="main" class="ui-content">
				<div data-role="navbar" id ="team">
					<ul id = "portfolio-filer" class="nav nav-tabs">
					<li class ="active"><a href="#kommentar">Kommentarer</a></li>
					<li><a href="#picture">Bildgalleri</a></li>
					</ul>
				</div>
				<br><br>
				<textarea name="comment" autocomplete ="off" form="commentform"></textarea>
 				<form class="form-signup" action="@routes.CommentDatabase.addComment()" method ="post" id="commentform">
    				<button value ="Reload Page" onClick ="history.go(0)" class="button-submit pure-button" style="background-color:rgba(255, 255, 255, 0.8);"><font>Kommentera!</font></button>
    			</form>
				<div id ="tesst">
 					<textarea id ="ruta1"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(1)</textarea>
 					<textarea id ="ruta2"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(2)</textarea>
 					<textarea id ="ruta3"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(3)</textarea>
 					<textarea id ="ruta4"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(4)</textarea>
 					<textarea id ="ruta5"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(5)</textarea>
 					<textarea id ="ruta6"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(6)</textarea>
 					<textarea id ="ruta7"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(7)</textarea>
 					<textarea id ="ruta8"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(8)</textarea>
 					<textarea id ="ruta9"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(9)</textarea>
 					<textarea id ="ruta10"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(10)</textarea>
          <br>
 				</div>
				<script>
 					$(document).ready(function(){
 	
 					if($('#ruta1').html()==""){
						$(ruta1).hide(); 	
 					}
 					if($('#ruta2').html()==""){
						$(ruta2).hide(); 	
 					}
 					if($('#ruta3').html()==""){
						$(ruta3).hide(); 	
 					}
 					if($('#ruta4').html()==""){
						$(ruta4).hide(); 	
 					}
 					if($('#ruta5').html()==""){
						$(ruta5).hide(); 	
 					}
 					if($('#ruta6').html()==""){
						$(ruta6).hide(); 	
 					}
 					if($('#ruta7').html()==""){
						$(ruta7).hide(); 	
 					}
 					if($('#ruta8').html()==""){
						$(ruta8).hide(); 	
 					}
 					if($('#ruta9').html()==""){
						$(ruta9).hide(); 	
 					}
 					if($('#ruta10').html()==""){
						$(ruta10).hide(); 	
 					}
 	
 					});
 				</script>
 			</div>
		</div>

	<section id="footer">
       <div align="center" class="container">
              
            <a href="#helpKom" data-rel="popup" data-position-to="#demo"><font size="1.5" face="Lucida Sans Unicode">Information och villkor</font> </a>

            <div data-role="popup" id="helpKom" class="ui-content" style=" background-size: 100% 100%; background-image: url(@routes.Assets.at("/images/yellow6.jpg"))">
              <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right"></a>
              <p>
              <h4>Information och villkor</h4>
        <p>
        Summerburst Scorehunt pågår från 24 april till 13 juni och är en lagtävling om 4 personer där det gäller att tillsammans med sitt lag samla koder för att ha chans att vinna fina priser.
        Koderna kommer bland annat vara utplacerade på olika platser i Stockholm och ledtrådar på var de finns kommer göras tillgängliga via Summerburst Scorehunts twitterkonto.
        <br>
        Det finns 200 koder att samla som ger olika många poäng beroende på svårighetsgrad. En kod kan lösas in en gång per lag. Varje kod kan lösas in 500 gånger innan den blir ogiltig att lösa in. Alla lag kan alltså inte samla alla koder utan det är först till kvarn som gäller!
        <br>
        <br>  
		Tävlingen består av en stor tävling som pågår fram till festivalen börjar samt minitävlingar där det gäller att vara supersnabb att hitta utvalda koder och vara bland de 10 första för att vinna ett pris.         <br>
        <br>
        <br>
        Den stora tävlingen avslutas dagen innan festivalen börjar där de fem bästa lagen får pris.
        <br>
        <br>
        1a pris – Meet and greet med artisterna
        2-5e pris – VIP-biljetter
        <br>
        <br>
        Vinnarna kontaktas via e-post, därför är det extra viktigt att fylla i rätt epostadress vid skapande av tävlingskonto så att vi kan komma i kontakt med er.
        <br>
        <br>
        Genom att delta i tävlingen accepterar du följande tävlingsvillkor och att din epost-adress sparas i Summerburst Scorehunts databas.
        Tävlingen är gratis att delta i och för att tävla behöver du vara 18 år. Anställda på TechNovaZion Sweden AB får ej delta.
        <br>
        <br>
        Vinnarna blir kontaktade via e-post. Du behöver därför fylla i rätt epostadress för att vi ska kunna komma i kontakt med dig. Din epostadress kommer inte visas för andra användare i tävlingen utan används endast för detta ändamål. Svarar du inte på e-post från oss inom 7 dagar kan vi ej garantera att du får ditt pris.
        <br>
        <br>
        Det går ej att byta in priser mot kontanter.
    </p>
            </p>
          </div>
       </div>
      </section>
		
	</div>


	</section>
</div><!-- /content -->
