<div data-role="page" id="kommentar">
  	<section id="header">
    	<div class="container" style="width:290px">
      		<ul id="portfolio-filter" class="nav nav-tabs">
        	<li class=""><a href="#hunt"><font size="1" color="black">Jaga kod</font><br><img src="@routes.Assets.at("/images/hunt.png")" class="thumbnail" height="30" width="30"/></a></li>
        	<li class=""><a href="#redeem"><font size="1" color="black">Lös in kod</font><br><img src="@routes.Assets.at("/images/redeem.png")" class="thumbnail" height="30" width="30"/></a></li>
        	<li class="active"><a href="#team"><font size="1" color="black">Ditt lag</font><br><img src="@routes.Assets.at("/images/team.png")" class="thumbnail" height="30" width="30"/></a></li>
        	<li class=""><a href="#leader"><font size="1" color="black">Topplista</font><br><img src="@routes.Assets.at("/images/podium.png")" class="thumbnail" height="30" width="30"/></a></li>
      		</ul>
		</div>
	</section>
<br><br>
	<section id="bodypage">
		<div class="container" style="width:290px;"> 
			<div  role="main" class="ui-content">
				<div data-role="navbar" id ="team">
					<ul id = "portfolio-filer" class="nav nav-tabs">
					<li class =""><a href="#team">Ditt Lag</a></li>
					<li><a href="#picture">Galleri</a></li>
					</ul>
				</div>
				<br><br>
				<textarea name="comment" autocomplete ="off" form="commentform"></textarea>
 				<form class="form-signup" action="@routes.CommentDatabase.addComment()" method ="post" id="commentform">
    				<button value ="Reload Page" onClick ="history.go(0)" class="button-submit pure-button" style="background-color:rgba(255, 255, 255, 0.8);"><font>Kommentera!</font></button>
    			</form>
				<div id ="tesst">
 					<textarea id ="ruta1"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(1)</textarea>
 					<textarea id ="ruta2"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(2)</textarea>
 					<textarea id ="ruta3"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(3)</textarea>
 					<textarea id ="ruta4"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(4)</textarea>
 					<textarea id ="ruta5"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(5)</textarea>
 					<textarea id ="ruta6"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(6)</textarea>
 					<textarea id ="ruta7"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(7)</textarea>
 					<textarea id ="ruta8"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(8)</textarea>
 					<textarea id ="ruta9"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(9)</textarea>
 					<textarea id ="ruta10"rows="3" cols="" disabled>@controllers.CommentDatabase.getComments(10)</textarea>
 				</div>
				<script>
 					$(document).ready(function(){
 	
 					if($('#ruta1').html()==""){
						$(ruta1).hide(); 	
 					}
 					if($('#ruta2').html()==""){
						$(ruta2).hide(); 	
 					}
 					if($('#ruta3').html()==""){
						$(ruta3).hide(); 	
 					}
 					if($('#ruta4').html()==""){
						$(ruta4).hide(); 	
 					}
 					if($('#ruta5').html()==""){
						$(ruta5).hide(); 	
 					}
 					if($('#ruta6').html()==""){
						$(ruta6).hide(); 	
 					}
 					if($('#ruta7').html()==""){
						$(ruta7).hide(); 	
 					}
 					if($('#ruta8').html()==""){
						$(ruta8).hide(); 	
 					}
 					if($('#ruta9').html()==""){
						$(ruta9).hide(); 	
 					}
 					if($('#ruta10').html()==""){
						$(ruta10).hide(); 	
 					}
 	
 					});
 				</script>
 			</div>
		</div>
	</div>
	</section>
</div><!-- /content -->
