<div data-role="page" id="redeem">
  <section id="header">
    <div class="container" style="width:290px;">
      <ul id="portfolio-filter" class="nav nav-tabs">  
            <li class=""><a href="#hunt"><font size="1" color="black">Jaga kod</font><br><img src="@routes.Assets.at("/images/hunt.png")" class="thumbnail" height="30" width="30"/></a></li>
            <li class="active"><a href="#redeem"><font size="1" color="black">Lös in kod</font><br><img src="@routes.Assets.at("/images/redeem.png")" class="thumbnail" height="30" width="30"/></a></li>
            <li class=""><a href="#team"><font size="1" color="black">Ditt lag</font><br><img src="@routes.Assets.at("/images/team.png")" class="thumbnail" height="30" width="30"/></a></li>
            <li class=""><a href="#leader"><font size="1" color="black">Topplista</font><br><img src="@routes.Assets.at("/images/podium.png")" class="thumbnail" height="30" width="30"/></a></li>
      </ul>
    </div>
  </section>  
  
  <script>$.mobile.pageLoadErrorMessage = "Ogiltig kod!";
  
  </script>
  
  
  <section id="bodypage">
    <div class = "container" style="width:290px;">
      <div style="margin-top: 10px;" role="main" class="ui-content">     
          <form id="kodtest" class="form-kod" action="@routes.CodeDatabase.registerCode()" method="post">
            <input type="text" autocomplete = "off" placeholder="Skriv kod" name="codeID" id="codeID" style="color:black; text-align:center"></input>
            <button id="button-primary" value ="Reload Page" onClick ="history.go(0)" class="button-submit pure-button" style="background-color:rgba(255, 255, 160, 0.95);"><font>Skicka!</font></button>
          </form>
			<div id ="kod_div">
 					<textarea style="resize:none" id ="kod_id"rows="3" cols="" disabled>@controllers.CodeDatabase.latestRegistredCode()</textarea>
          	</div>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>

     <section id="footer">
       <div align="center" class="container">
              
            <a href="#helpredeem" data-rel="popup" data-position-to="#demo"><font size="1.5" face="Lucida Sans Unicode">Information och villkor</font> </a>

            <div data-role="popup" id="helpredeem" class="ui-content" style=" background-size: 100% 100%; background-image: url(@routes.Assets.at("/images/yellow6.jpg"))">
              <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
				@Templates.HelpTeam()
          </div>
       </div>
      </section> 
     
  </section>  
</div> 
