			<p>
 			<h4>Teaminformation</h4>
            <b>Teamnamn:</b><br> @controllers.TeamDatabase.getTeamName()<br><br>
              <b>Ranking:</b><br> @controllers.TeamDatabase.teamRank()<br><br>
              <b>Poäng:</b><br> @controllers.TeamDatabase.getPoints() <br><br>
              <b>Medlemmar:</b><br>
              @controllers.TeamDatabase.getMember(0)<br>
            @controllers.TeamDatabase.getMember(1)<br>
            @controllers.TeamDatabase.getMember(2)<br>
            @controllers.TeamDatabase.getMember(3)<br><br>
            <b>Registerade koder:</b><br> @controllers.CodeDatabase.listCodes()
            </p>